//breakpoints
$laptop: 1200px;
$small: 640px;

//app-colors
$primary:#556832;
$secondary:#465945;
$tertiary: #3A3A3A;
$contrast: #FFA500;

//fonts
$fontColorPrimary: white;

h1, h2, h3, p {
  margin: 0;
  padding: 0; 
}