@import '../../assets/scss/Main.scss';

.tabs__wrapper {
  display: flex;
  align-items: center;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0px 40px;
  @media (max-width: $laptop) {
    padding: 0px 20px;
  }
  @media (max-width: $small) {
    padding: 0 12px;
  }
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    opacity: 0;
  }
  .tab__video {
    background: #F2F2F2;
    border-radius: 16px;
    padding: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-right: 12px;
    -ms-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
    &_current {
      background: #FFA500;
    }
    &:hover {
      cursor: pointer;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

