@import '../../assets/scss/Main.scss';

#main {
  transition: margin-left 0.5s;
  position: relative;
}

section {
  scroll-margin: 56px;
}

.book-screen {
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    max-width: 1920px;
    width: 100%;
    display: flex;
  }
  &__navigation {
    max-width: 400px;
    width: 100%;
    background: $primary;

    ul {
      list-style-type: none;
      li {
        display: block;
        width: 100%;
        button {
          border: none;
          background: none;
          text-align: left;
          color: $fontColorPrimary;
          padding: 10px;
        }
        ul {
          background: $tertiary;
        }
      }
    }
  }
  &__page {
    text-align: justify;
    position: relative;
    display: flex;
    flex-direction: column;
    // font-family: "Times New Roman", Times, serif;
    // font-size: 14px;
    // line-height: 1.5;
  }
}
