@import '../../assets/scss/Main.scss';

footer {
  display: flex;
  justify-content: center;
  background: $tertiary;
  color: $fontColorPrimary;
  width: 100%;
  .footer__wrapper {
    max-width: 1920px;
    width: 100%;
    padding: 30px 40px;
    @media (max-width: $laptop) {
      padding: 30px 20px 0;
    }
    @media (max-width: $small) {
      padding: 20px 12px 0;
    }
  }
}
