.pagebook {
  display: flex;
  flex-direction: column;
  width: 100%;

  p {
    text-indent: 20px;
  }
}

.under__text {
  // подчеркнутыый жирный
  font-weight: bold;
  text-decoration: underline;
}

.bookpage__text {
  div,
  ul > li,
  ol > li {
    font-size: 18px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }

  ul > li,
  ol > li {
    margin-bottom: 10px;
  }
}
