@import '../../assets/scss/Main.scss';

.c2 {
  a {
    color: #1a75d2;
    text-decoration: underline;
  }
}

#main {
  transition: margin-left 0.5s;
  position: relative;
}

section {
  scroll-margin: 56px;
}

.book-buttons {
  position: absolute;
  width: 100%;
  top: 200px;
  left: auto;
  right: auto;
  z-index: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;

  @media (max-width: 916px) {
    top: 14%;
  }
}

.book-screen {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $transformationSidebarBreakpoint) {
    flex-direction: column;
  }

  &__content {
    display: none;

    @media (max-width: $transformationSidebarBreakpoint) {
      display: flex;
    }
  }

  &__sidebar {
    max-width: 400px;
    width: 100%;

    @media (max-width: $transformationSidebarBreakpoint) {
      display: none;
      max-width: none;
      background-color: #465945;
    }
  }

  &__sidebar_open {
    display: flex;
  }

  &__tool-wrapper {
    display: flex;
    position: absolute;
    top: 50px;
    padding: 0 20px;
    z-index: 1;

    @media (min-width: $transformationSidebarBreakpoint) {
      display: none;
    
    }
  }

  &__wrapper {
    max-width: 1920px;
    width: 100%;
    display: flex;

    @media (max-width: $transformationSidebarBreakpoint) {
      flex-direction: column;
    }
  }

  &__navigation {
    max-width: 400px;
    width: 100%;
    background: $primary;

    ul {
      list-style-type: none;

      li {
        display: block;
        width: 100%;

        button {
          border: none;
          background: none;
          text-align: left;
          color: $fontColorPrimary;
          padding: 10px;
        }

        ul {
          background: $tertiary;
        }
      }
    }
  }
}
