.content-item {
  &__wrapper {
    width: 100%;

    iframe {
      width: 100%;
      height: calc(100vh - 48px);
    }

    h3 {
      margin: 0;
      padding: 0;
      margin-left: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
